<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>e-kardex sistema de fichas </title>
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet'
	    type='text/css'>
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="top">
			<h1 id="title" class="hidden">
				<span id="logo">E-KARDEX</span>
			</h1>
		</div>
		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h2>Log In</h2>
			</div>
			<form th:action="@{/login}" method="POST" class="form-signin">
				<h3 class="form-signin-heading" th:text="Welcome"></h3>
				<br/>
				<input type="text" id="email" name="email" th:placeholder="Email" class="form-control" />
				<br/>
				<input type="password" th:placeholder="Password" id="password" name="password" class="form-control" />
				<br />
				<div align="center" th:if="${param.error}">
					<p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
				</div>
				<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
			</form>
		</div>
	</div>
</body>
</htm>